asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.10
git+https://github.com/app-generator/django-admin-black.git
django-crispy-forms==1.14.0
django-environ==0.8.1
django-readonly-field==1.1.1
idna==3.3
mysql==0.0.3
mysql-connector-python==8.0.28
mysqlclient==2.1.0
protobuf==3.19.4
pyodbc==4.0.32
requests==2.27.1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.8
