{% extends 'facilities/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="mx-5">

        {% if facility_edits %}
            <div class="alert_message alert alert-warning alert-danger" role="alert" id="message_alert">
                <i class="fa-solid fa-circle-info"></i>
                This Facility's data has been updated. Approve or discard those changes before attempting to update.
                Navigate to <a href="/facilities/approve_changes/{{facility_edits.id}}">Approve this facility's edits</a>
            </div>
        {% endif %}

        <form id="facility_form" action="" method="post" class="form-control">
            {% csrf_token %}
            <legend class="mb-5 mt-3 text-center green_text_color"><b>{{ title }}</b></legend>
            <hr>
            <div class="row  mb-5">
                <div class="col-md-2">
                    <h6 id="facility_toggle" class="green_text_color">Facility Information</h6>
                </div>
                <div id="facility" class="row section mb-4 col-md-8">
                    <b>Facility Information</b>
                  <div class="form-group col-md-3 mb-4">
                    {{ form.mfl_code|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-5 mb-4">
                    {{ form.name|as_crispy_field }}
                  </div>
                    <div class="form-group col-md-4 mb-4">
                    {{ form.owner|as_crispy_field }}
                  </div>

                  <div class="form-group col-md-3 mb-3">
                        {{ form.county|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        {{ form.sub_county|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-2">
                        {{ form.lat|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-2">
                        {{ form.lon|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-6 mb-5">
                        {{ form.agency|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-5">
                        {{ form.partner|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-4 mb-4">
                        <b>Implementation</b>
                        <div class="d-flex justify-content-between">
                            {{ form.CT|as_crispy_field }}
                            {{ form.HTS|as_crispy_field }}
                            {{ form.IL|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="hide_element" id="EMR_info">
                <div class="row  mb-5" >
                    <div class="col-md-2">
                        <h6  class="green_text_color">EMR Information</h6>
                    </div>
                    <div id="EMR" class="row section mb-4 col-md-10">
                        <b>EMR Information</b>
                        <div class="form-group col-md-4 mb-4">
                            {{ form.emr_type|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-4">
                            {{ form.emr_status|as_crispy_field }}
                        </div>

                        <div class="form-group col-md-6 mb-0">
                            <b>EMR modules</b>
                            <div class="d-flex justify-content-between">
                                {{ form.ovc_offered|as_crispy_field }}
                                {{ form.otz_offered|as_crispy_field }}
                                {{ form.prep_offered|as_crispy_field }}
                                {{ form.tb_offered|as_crispy_field }}
                                {{ form.mnch_offered|as_crispy_field }}
                                {{ form.kp_offered|as_crispy_field }}
                                {{ form.lab_man_offered|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="MHealth_info">
                <div class="row mb-5">
                    <div class="col-md-2">
                        <h6 id="MHealth_toggle" class="green_text_color">MHealth Information</h6>
                    </div>
                    <div  class="row section mb-4 col-md-7">
                        <b>MHealth Information</b>
                        <div class="d-flex justify-content-between">
                            {{ form.ushauri|as_crispy_field }}
                            {{ form.nishauri|as_crispy_field }}
                            {{ form.c4c|as_crispy_field }}
                            {{ form.mlab|as_crispy_field }}
                            {{ form.art|as_crispy_field }}
                            {{ form.psurvey|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="hide_element" id="HTS_info">
                <div class="row  mb-5">
                    <div class="col-md-2">
                        <h6  class="green_text_color">HTS Information</h6>
                    </div>
                    <div id="HTS" class="row section mb-4 col-md-8">
                        <b>HTS Information</b>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.hts_use|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.hts_deployment|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.hts_status|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="hide_element" id="IL_info">
                <div class="row mb-5">
                    <div class="col-md-2">
                        <h6  class="green_text_color">IL Information</h6>
                    </div>
                    <div id="IL" class="row section mb-4 col-md-8">
                        <b>IL Information</b>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.webADT_registration|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.webADT_pharmacy|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.il_status|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-5 mb-0">
                            <b>IL Modules</b>
                            <div class="d-flex justify-content-between">
                                {{ form.mlab|as_crispy_field }}
                                {{ form.three_PM|as_crispy_field }}
                                {{ form.c4c|as_crispy_field }}
                                {{ form.ushauri|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             {% if "/facilities/approve_changes/" in request.path %}
                <div class="row mb-5 d-flex justify-content-center">
                    <div class="col-md-2 ml-5 inputContainer ">
                        <button name="approve" type="button" value="Approve changes" id="approve_changes" class="btn btn-success" onclick="confirm_approval()">
                            <i class="fa-solid fa-thumbs-up"></i> Approve changes
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button name="discard" type="button" value="Discard changes" id="discard_changes" class="btn btn-danger" onclick="confirm_rejection()">
                            <i class="fa-solid fa-trash-can"></i> Discard changes
                        </button>
                    </div>
                </div>
            {% else %}
                <input type="submit" value="Submit" class="btn btn-outline-success">
            {% endif %}

        </form>
    </section>


    <script>

        function confirm_approval(){
            Swal.fire({
              title: "Approve Changes?",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#1ab394',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Approve'
            }).then((result) => {
              if (result.isConfirmed) {
                Swal.fire(
                  'Success!',
                  'Changes were approved and now reflect.',
                  'success'
                )
                  $.get( "/send_customized_email", { "facility_id": "{{facilitydata.id}}", "choice":"approved","reason":""});
                  $("#approve_changes").attr('type', 'submit');
                  setTimeout(function() {
                    $('#approve_changes').click();
                 }, 2000);

              }
            })

        }
    </script>

    <script>

        function confirm_rejection(){

            Swal.fire({
                title: "Reject Changes?",
                text:  "Reasons for Rejection? This will be sent to the modifier of this Facility for their knowledge",
                input: 'textarea',
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: 'Reject',
                confirmButtonColor: '#dc3545',
                preConfirm: (reasons) => {
                    $.get( "/send_customized_email", { "facility_id": "{{facilitydata.id}}", "choice":"rejected","reason":reasons});
              }
            }).then((result) => {
              if (result.isConfirmed) {
                  Swal.fire(
                  'Success!',
                  'Success! Changes have been discarded!',
                  'success'
                )
                    $("#discard_changes").attr('type', 'submit');
                    setTimeout(function() {
                        Swal.close()
                        $('#discard_changes').click();
                     }, 2000);
              } else {
                    swal("Operation canceled!");
              }
            });
        }
    </script>

    <script type="text/javascript">
        const subcounty_id_saved = {{facilitydata.sub_county_id}};

        let disable_fields = false;
        {% if facility_edits %}
            if(window.location.href.indexOf("/facilities/update_facility/") > -1){
                disable_fields = true;
            }else{
                disable_fields = false;
            }
        {% endif %}
       // console.log(disable_fields)
    </script>

    {% load static %}
    <script src="{% static 'js/facilities_form.js' %}"></script>

{% endblock %}