
.green_text_color{
    color:#1ab394 !important;
}

.green_bg_color{
    background-color:#1ab394 !important;
}

.alert_message{
    width:80%;
    margin:auto;
}

.hide_element{
    display:none;
}

.btn-success{
    background-color:#1ab394 !important;
}
