
.green_text_color{
    color:#1ab394 !important;
}

.green_bg_color{
    background-color:#1ab394 !important;
}

.alert_message{
    width:80%;
    margin:auto;
}

.hide_element{
    display:none;
}

.btn-success{
    background-color:#1ab394 !important;
}

p, li, a, td, th, label, b, input, select {
  font-size: 0.7em !important; /* 40px/16=2.5em */
}
